/*  CSS-Ver. 1.00
    09/2023          */
body{
  font-family:sans-serif;
  font-size:24px;
  background-color:#e5e5e5;
}
#logo{
  width:100px;
  height:auto;
  margin-right:20px;
}
#headline{
  color:#ff0000;
  font-size:36px;
  text-decoration:underline;
  font-weight:bold;
}
#content{
  background-color:#ffffff;
  margin-top:25px;
  padding:20px;
}
#application_table{
    border:1px solid #000000;
    border-collapse:collapse;
}
th{
    background-color:#bebebe;
}
.cell{
    border:1px solid #000000;
}
#row_id{
    width:50px;
    text-align:center;
}
#row_name{
    width:500px;
}
#row_version{
    width:100px;
}
#row_date{
    width:100px;
    text-align:center;
}
